In [2]:
import numpy as np
import pandas as pd
from pandas import read_csv, DataFrame
import datetime
import warnings
warnings.filterwarnings('ignore')
from matplotlib import pyplot as plt
%matplotlib inline

In [3]:
# pip install ipywidgets
# jupyter nbextension enable --py widgetsnbextension

In [4]:
from ipywidgets import interactive
import ipywidgets as widgets

In [5]:
dataset = read_csv('opendata.csv',',', index_col=['date'], parse_dates=['date'])

In [6]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 74842 entries, 2013-01-15 to 2018-11-15
Data columns (total 3 columns):
name      74842 non-null object
region    74842 non-null object
value     74842 non-null int64
dtypes: int64(1), object(2)
memory usage: 2.3+ MB

In [7]:
dataset.head()

                                                    name  region   value
date
2013-01-15  Количество заявок на потребительские кредиты  Россия  571147
2013-02-15  Количество заявок на потребительские кредиты  Россия  504508
2013-03-15  Количество заявок на потребительские кредиты  Россия  628803
2013-04-15  Количество заявок на потребительские кредиты  Россия  836054
2013-05-15  Количество заявок на потребительские кредиты  Россия  867235

In [8]:
def graf_plot(region,pokazatel,date1,date2):
    df = dataset.query("region == @region & name == @pokazatel & date >= @date1 & date <= @date2")
    plt.figure(figsize=(14, 8))
    plt.plot(df.index, df['value'], color="green")
    plt.title(pokazatel+".  "+region)
    plt.ylabel('Значение');
    plt.xlabel('Период');
    plt.grid()
    plt.show()

In [11]:
interactive_plot = interactive(graf_plot, region=list(dataset.region.unique()), \
                               pokazatel=list(dataset.name.unique()),\
                               date1=widgets.DatePicker(value=dataset.index.min()),\
                               date2=widgets.DatePicker(value=dataset.index.max())
                              )
output = interactive_plot.children[-1]
interactive_plot

interactive(children=(Dropdown(description='region', options=('Россия', 'Алтайский край', 'Амурская область', …